.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: dodgerblue;

  &__box {
    cursor: pointer;
    width: 100%;
    max-width: 275px;
    min-height: 350px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #000;
    border: solid 2px dodgerblue;

    &-title {
      font-size: 16px;
      margin: 20px 10px;
      text-align: center;
      color: #000;
    }

    &-price {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 35px;
    }

    &-img {
      width: 300px;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
      background-position: center;
    }
  }
}
